* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #eee;
}

.title {
  text-align: center;
  font-weight: 300;
  font-size: 4em;
  margin: 0;
  color: #00ADB5;
}

.todo-app {
  margin: auto;
  width: 80%;
  min-width: 320px;
  max-width: 640px;
}

.todos {
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);
}

.add-todo {
  width: 100%;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 100;
  border: 1px solid #eee;
}
.reset-todos {
  width: 100%;
  background-color: #00ADB5;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}
.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: default;
}

.todo-item .remove {
  visibility: hidden;
  padding: 10px 20px 10px 0;
}

.todo-item .remove:hover {
  color: #FFB6B9;
}

.todo-item:hover .remove {
  visibility: visible;
}

.todo-item {
  background-color: #222831;
  color: white;
  border-top: 1px solid #393E46;
  font-size: 1em;
  display: flex;
}

.todo-item:hover {
  background-color: #393E46;
}

.todo-item .description {
  padding: 10px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.todo-item.done .description {
  color: #00ADB5;
  text-decoration: line-through;
}